<div>
  <h1>Login</h1>
  <div
    class="alert alert-danger"
    id="login-error"
    style="display: none"
    role="alert"
  ></div>
  <form>
    <div class="form-group">
      <label for="email-input">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email-input"
        aria-describedby="emailHelp"
      />
      <small id="emailHelp" class="form-text text-muted"
        >We'll never share your email with anyone else.</small
      >
    </div>
    <div class="form-group">
      <label for="password-input">Password</label>
      <input type="password" class="form-control" id="password-input" />
    </div>
    <button type="submit" id="btn_login" class="btn btn-primary">Submit</button>
  </form>
</div>
